/* Other rules */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 15px;
}

.container-large {
  margin: 25px;
}

.page {
  display: flex;
  min-height: 100%;
}

.left {
  width: 20%;
  min-height: 100% !important;
  background: linear-gradient(180deg, #3c52c9, #6b7dea);
}

.left .container {
  display: flex;
  align-items: center;
}

.left .container .title-left {
  margin-left: 20px;
  font-size: 19px;
  color: #fff;
}

.content {
  width: 80%;
  background: #f7f7f7;
}

.content .header {
  height: 58px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b7dea;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  text-transform: uppercase;
}

.content .title-content {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.checker + .title-content {
  margin-top: 30px;
}

.content .title-content::before {
  content: " ";
  display: block;
  width: 29px;
  height: 29px;
  background: #6bc5bc;
  border-radius: 3px;
  margin-right: 10px;
}

.content .checker {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 25px;
  margin-bottom: 20px;
}

.content .checker .name {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  margin-bottom: 10px;
}

.content .search {
  display: flex;
}

.content .checker input {
  color: #1565c0;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #bcc1dc;
  border-radius: 5px;
  margin-right: 10px;
  width: 450px;
}

.content .checker button {
  background: #3d61ff;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 9.5px;
  cursor: pointer;
  box-shadow: 0;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .checker button:disabled {
  background: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.content .checker button:not(:disabled):hover {
  box-shadow: 0px 3px 7px 0px rgba(61, 97, 255, 0.27),
    0 0 1px 1px rgba(0, 0, 0, 0.11);
}

/* ===============
        TABLE
   =============== */

div.table.history {
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.table a {
  color: inherit;
  text-decoration: none;
}
.table a:hover {
  text-decoration: underline;
}
.table.history .table-cell,
.table.history .table-head {
  border: none;
}
.table.history .table-body .table-cell {
  background: #fff;
}

.table.history .table-heading .table-head {
  text-align: center;
}
.table {
  display: table;
}
.table-head {
  padding: 10px;
}
.table-row {
  display: table-row;
}
.table-heading {
  display: table-header-group;
}
.table-cell,
.table-head {
  display: table-cell;
}
.table-headeading {
  display: table-header-group;
}
.table-foot {
  display: table-footer-group;
}
.table-body {
  display: table-row-group;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.table-cell {
  padding: 20px;
}

.table-cell.tags {
  max-width: 300px;
}

.table svg {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.table .tags span {
  display: inline-block;
  background: #1565c0;
  color: #fff;
  margin-right: 5px;
  padding: 3px 5px;
  font-size: 10px;
  line-height: 1.2;
  margin-top: 2px;
}

.table .cloudstatus span,
span.error {
  background: #d0021b;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
}
